<div class="add-deliberation-block row">
  <div class="form-group col-md-4" *ngIf="deliberationsDataService">
    <label class="form-control-label" [attr.for]="delibInputFor">Délibération</label>
    <ng2-completer
      inputClass="form-control"
      [inputId]="delibInputFor"
      [name]="delibInputFor"
      [(ngModel)]="deliberation.label"
      [datasource]="deliberationsDataService"
      [minSearchLength]="2"
      (selected)="addDeliberation($event)"
      textSearching="Recherche..."
    ></ng2-completer>
  </div>
  <div class="form-group col-md-4">
    <label class="form-control-label" [attr.for]="dateInputFor">Date</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [id]="dateInputFor"
        [name]="dateInputFor"
        ngbDatepicker
        [disabled]=""
        #dateDp="ngbDatepicker"
        [(ngModel)]="deliberation.date"
      />
      <span class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()">
          <fa-icon [icon]="'calendar-alt'"></fa-icon>
        </button>
      </span>
    </div>
  </div>
</div>
