# Gradle
/.gradle
/build
/jooq-lib/build
/orgarif-client/.gradle
# TODO clean when build tool chosen
/orgarif-client/.yarn
/orgarif-client/build
/orgarif-server/build

# Intellj
/.idea

# npm
/orgarif-client/node_modules
