# Gradle
/.gradle
/build
/jooq-lib/build
/orgarif-client/.gradle
# TODO[tmpl] clean when build tool chosen
/orgarif-client/.yarn
/orgarif-client/build
/orgarif-server/build
/tooling/build
/kt-to-ts-annotations/build

# Intellj
/.idea

# npm
/orgarif-client/node_modules
