<div class="edition-component">
  <div *ngIf="!organisme">Chargement</div>
  <div *ngIf="organisme">
    <h1>
      {{ organisme.nom }}
    </h1>
    <div class="natures-container">
      <div class="natures-block">{{ organisme.secteur?.label }}</div>
      <div class="natures-block">{{ organisme.natureJuridique?.label }}</div>
      <div class="natures-block">{{ organisme.typeStructure?.label }}</div>
    </div>
    <div class="representants-container" *ngIf="!organisme.instances || organisme.instances.length === 0">
      <div *ngIf="organisme.representants" class="representants">
        <h3>Représentants</h3>
        <jhi-orgarif-representants-block
          [representants]="organisme.representants"
          [editMode]="true"
          [elus]="elus"
          [organismeId]="organisme.id"
          [representantOrSuppleant]="'representant'"
        ></jhi-orgarif-representants-block>
      </div>
      <div *ngIf="organisme.suppleants" class="representants">
        <h3>Suppléants</h3>
        <jhi-orgarif-representants-block
          [representants]="organisme.suppleants"
          [editMode]="true"
          [elus]="elus"
          [organismeId]="organisme.id"
          [representantOrSuppleant]="'suppleant'"
        ></jhi-orgarif-representants-block>
      </div>
    </div>
    <div *ngFor="let instance of organisme.instances">
      <h2>{{ instance.nom }}</h2>
      <div class="representants-container">
        <div *ngIf="instance.representants" class="representants">
          <h3>Représentants</h3>
          <jhi-orgarif-representants-block
            [representants]="instance.representants"
            [editMode]="true"
            [elus]="elus"
            [instanceId]="instance.id"
            [representantOrSuppleant]="'representant'"
          ></jhi-orgarif-representants-block>
        </div>
        <div *ngIf="instance.suppleants" class="representants">
          <h3>Suppléants</h3>
          <div *ngIf="instance.suppleants">
            <jhi-orgarif-representants-block
              [representants]="instance.suppleants"
              [editMode]="true"
              [elus]="elus"
              [instanceId]="instance.id"
              [representantOrSuppleant]="'suppleant'"
            ></jhi-orgarif-representants-block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
