@import '../shared/constants/vars';

.edition-component {
  .natures-container {
    margin: 20px 0;
    display: flex;

    .natures-block {
      flex: 1;
    }
  }

  .representants-container {
    display: flex;
    .representants {
      padding: 0 20px;
    }
  }
}
