<div>
    <h2 id="page-heading">
        <span>Audit Trails</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-audit-trail" [routerLink]="['/audit-trail/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Audit Trail
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="auditTrails?.length === 0">
        <span>No auditTrails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="auditTrails && auditTrails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Entity</span></th>
                    <th scope="col" ><span>Entity Id</span></th>
                    <th scope="col" ><span>Parent Entity</span></th>
                    <th scope="col" ><span>Parent Entity Id</span></th>
                    <th scope="col" ><span>Action</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col" ><span>Date</span></th>
                    <th scope="col" ><span>Details</span></th>
                    <th scope="col" ><span>Update Description</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let auditTrail of auditTrails ;trackBy: trackId">
                    <td><a [routerLink]="['/audit-trail', auditTrail.id, 'view']">{{ auditTrail.id }}</a></td>
                    <td>{{ auditTrail.entity }}</td>
                    <td>{{ auditTrail.entityId }}</td>
                    <td>{{ auditTrail.parentEntity }}</td>
                    <td>{{ auditTrail.parentEntityId }}</td>
                    <td>{{ auditTrail.action }}</td>
                    <td>{{ auditTrail.user }}</td>
                    <td>{{ auditTrail.date | date:'medium' }}</td>
                    <td>{{ auditTrail.details }}</td>
                    <td>{{ auditTrail.updateDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/audit-trail', auditTrail.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/audit-trail', auditTrail.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(auditTrail)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
