<div>
    <h2 id="page-heading">
        <span>Organismes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-organisme" [routerLink]="['/organisme/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Organisme
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="organismes?.length === 0">
        <span>No organismes found</span>
    </div>
    <div class="table-responsive" *ngIf="organismes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nom"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreRepresentants"><span>Nombre Representants</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreSuppleants"><span>Nombre Suppleants</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creationDate"><span>Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="lastModificationDate"><span>Last Modification Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="partageRepresentants"><span>Partage Representants</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uid"><span>Uid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="natureJuridique.label"><span>Nature Juridique</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="secteur.label"><span>Secteur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="typeStructure.label"><span>Type Structure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let organisme of organismes ;trackBy: trackId">
                <td><a [routerLink]="['/organisme', organisme.id, 'view' ]">{{organisme.id}}</a></td>
                <td>{{organisme.nom}}</td>
                <td>{{organisme.nombreRepresentants}}</td>
                <td>{{organisme.nombreSuppleants}}</td>
                <td>{{organisme.creationDate | date:'medium'}}</td>
                <td>{{organisme.lastModificationDate | date:'medium'}}</td>
                <td>{{organisme.partageRepresentants}}</td>
                <td>{{organisme.uid}}</td>
                <td>
                    <div *ngIf="organisme.natureJuridique">
                        <a [routerLink]="['/nature-juridique', organisme.natureJuridique?.id, 'view' ]" >{{organisme.natureJuridique?.label}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="organisme.secteur">
                        <a [routerLink]="['/secteur', organisme.secteur?.id, 'view' ]" >{{organisme.secteur?.label}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="organisme.typeStructure">
                        <a [routerLink]="['/type-structure', organisme.typeStructure?.id, 'view' ]" >{{organisme.typeStructure?.label}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/organisme', organisme.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisme', organisme.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/organisme', { outlets: { popup: organisme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="organismes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
