<div class="representants-block">
  <div *ngFor="let r of representants" class="representant">
    <div class="buttons" *ngIf="editMode">
      <div (click)="up(r)" *ngIf="r.position !== 0" class="button">
        <fa-icon icon="sort-up" class="icon-up"></fa-icon>
      </div>
      <div (click)="down(r)" *ngIf="r.position !== representants.length - 1" class="button">
        <fa-icon icon="sort-down" class="icon-down"></fa-icon>
      </div>
    </div>
    <div class="name">{{ r.elu?.prenom }} {{ r.elu?.nom }} ({{ r.elu?.groupePolitiqueCourt }})</div>
    <div (click)="delete(r)" class="delete" *ngIf="editMode">✕</div>
  </div>
  <div *ngIf="editMode">
    <jhi-orgarif-add-representant-block
      [elus]="elus"
      [representants]="representants"
      [organismeId]="organismeId"
      [instanceId]="instanceId"
      [representantOrSuppleant]="representantOrSuppleant!"
      (representantsUpdate)="updateRepresentants($event)"
    ></jhi-orgarif-add-representant-block>
  </div>
</div>
